doctype html

html
    title Contacting

    style.
        .address p {
            font-family: monospace;
            margin: 0;
        }

body
    h1 Contact information
    p For information, please contact:
    .address
        p Franco Correa
        p +1 (646) 975-9350
        p Belvedere 4314
        p 11911 Montevideo
        p Uruguay
