doctype html
html
    include components/head.pug
    body
        section.hero
            img.me(src="https://www.twitter.com/francorreasosa/profile_image?size=original")
            h1.title Hi! I'm Franco
            h2.subtitle I make software for mobile and the web
        section.bio
            p I’m a #[span#years 18]-year-old #[strong software developer] currently working at a local company doing web and mobile development for US-based clients.
        section.social
            p.icons
                a(href="https://www.github.com/francocorreasosa")
                    img(src="/static/social/github.svg")
                a(href="https://www.twitter.com/francorreasosa")
                    img(src="/static/social/twitter.svg")
                a(href="https://www.instagram.com/francocorrea15")
                    img(src="/static/social/instagram.svg")
            p.dms
                img(src="/static/social/dms-open.png")
        section.email
            p Say hello! 
                strong hi@francocorrea.com

        script(src="/static/site.js")

    